<!doctype html>
<html lang="en" ng-app="fohmDevTest">

<head>
    <meta charset="utf-8">
    <title>Fohm Dev Test</title>

    <script src="angular/angular.js"></script>
    <link rel="stylesheet" href="styles.css" />
    <script src="app.js"></script>
</head>

<body ng-controller="FohmDevTestController">

    <div class="heading">
        <h1>
            {{title}}
        </h1>
    </div>

    <div class="operation-area">
        <button class="operation-button" type="button" ng-click="decrement()">Minus</button>
        <span class="number-display">{{number}}</span>
        <button class="operation-button" type="button" ng-click="increment()">Plus</button>
    </div>

    <div class="operation-area">
        <input type="text" name="name-text-box" ng-model="name" placeholder="Enter your name" />
        <button type="button" ng-click="submitName()">Submit</button>
    </div>

</body>

</html>