<!doctype html>
<html lang="en" ng-app="fohmDevTest">

<head>
    <meta charset="utf-8">
    <title>Fohm Dev Test</title>

    <script src="angular/angular.js"></script>
    <link rel="stylesheet" href="styles.css" />
    <script src="app.js"></script>
</head>

<body ng-controller="GetPeopleController">
    <div class="operation-area">
        <button class="operation-button" type="button" ng-click="getPeople()">Get people</button>
        <div ng-repeat="person in people">
            <div>Name: {{person.name}}</div>
            <div>Number: {{person.number}}</div>
        </div>
    </div>
</body>

</html>