body {
  font-family: Arial, Helvetica, sans-serif; }

.heading {
  text-align: center;
  padding-bottom: 20px; }

.operation-area {
  text-align: center;
  margin-bottom: 40px; }
  .operation-area .operation-button {
    padding-left: 20px;
    padding-right: 20px; }
  .operation-area .number-display {
    border-width: 1px;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: xx-large;
    font-weight: bold; }
